#parse("/hotel/layout/include/constants.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>乐行</title>
    <link rel="stylesheet" href="/hotel/css/common.css">
    <link rel="stylesheet" href="/hotel/css/sm.min.css">
    <link rel="stylesheet" href="/hotel/css/upload.css">
    <!--[if IE]>
    <script src="/hotel/js/lib/html5shiv.min.js"></script>
    <![endif]-->

    <style>
        html,body {width: 100%;height: 100%;
            background-color: #f2f2f2;}
        /*nav*/
        .statebox{
            width:100%;
            height: 1.8rem;
            background-color: #f36523;
            color: #fff;
            font-size: 0.8rem;
            line-height: 1.8rem;
            position:fixed;
            top:0;
            left:0;
            z-index:100;
        }
        .thetittle{
            width:100%;
            position:absolute;
            top:0;
            left:0;
            text-align: center;
        }
        .fake{
            width:100%;
            height: 1.8rem;
        }
        .completeFill{
            position:absolute;
            top:0;
            right:0;
            padding-right:2.04%;
            z-index:5;
        }
        .lastStep{
            width:16%;
            height:100%;
            padding-left:2.04%;
            position:absolute;
            top:0;
            left:0;
            z-index:5;
        }
        .lastStep i,.returnback i{
            width:0.485rem;
            height:0.969rem;
            margin-top:0.4155rem;
            background:url(/hotel/img/lastStep.png) no-repeat 0 center;
            background-size:contain;
            float:left;
        }
    </style>
</head>
<body style="background:#000">
<input name="openid" id="openid" type="hidden" value="$!openid" />
<div class="statebox clearfix">
    <a href="javascript:history.back();" class="lastStep"><i></i></a>
    <span class="thetittle">头像上传</span>
</div>
<!--头像上传主体部分-->
<a href="javascript:void(0);" class="logoBox" id="logoBox">
    <img id="bgl" src="/hotel/img/default-avator.png" width="100%">
</a>


<div class="htmleaf-container">
    <div id="clipArea"></div>
    <div id="view"></div>
</div>


<div class="btn-1">
    <a href="javascript:;">
        <button>确认更换</button>
    </a>
</div>

<div id="dpage">
    <a href="javascript:void(0);">
        <input type="button" name="file" class="button" value="选取照片">
        <input id="file-img" class="avatorImg" type="file" onchange="javascript:setImagePreview();" accept="image/*" multiple  />
    </a>
   <!-- <a href="javascript:void(0);"><input type="button" name="file" class="button11" value="旋转">
        &lt;!&ndash;<input id="file" type="file" onchange="javascript:setImagePreview();" accept="image/*" multiple  />&ndash;&gt;
    </a>-->
    <a href="javascript:void(0);" class="qx"><button id="clipBtn">截取图片</button></a>
</div>

<!--<script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')</script>-->
<script src="/hotel/js/lib/jquery-1.8.3.min.js"></script>
<script src="/hotel/js/lib/iscroll-zoom.js"></script>
<script src="/hotel/js/lib/hammer.js"></script>
<script src="/hotel/js/lib/jquery.photoClip.js"></script>
<script>
    var obUrl = ''
    //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    $("#clipArea").photoClip({
        width: 280,
        height: 280,
        file: "#file-img",
        view: "#view",
        ok: "#clipBtn",
    });
</script>
<script>
    $(function(){
        $("#logoBox,#s_dpage").click(function(){
            $(".htmleaf-container").fadeIn(300);
            $("#dpage").addClass("show");
        })
        $("#clipBtn").click(function(){
            $("#logoBox").empty();
            $('#logoBox').append('<img src="' + imgsource + '" align="absmiddle" style=" width:100%;">');
            $(".htmleaf-container").hide();
            $("#dpage").removeClass("show");
        })
    });
</script>
<script type="text/javascript">
    $(function(){
        jQuery.divselect = function(divselectid,inputselectid) {
            var inputselect = $(inputselectid);
            $(divselectid+" small").click(function(){
                $("#divselect ul").toggle();
                $(".mask").show();
            });
            $(divselectid+" ul li a").click(function(){
                var txt = $(this).text();
                $(divselectid+" small").html(txt);
                var value = $(this).attr("selectid");
                inputselect.val(value);
                $(divselectid+" ul").hide();
                $(".mask").hide();
                $("#divselect small").css("color","#333")
            });
        };
        $.divselect("#divselect","#inputselect");
    });
</script>
<script type="text/javascript">
    $(function(){
        jQuery.divselectx = function(divselectxid,inputselectxid) {
            var inputselectx = $(inputselectxid);
            $(divselectxid+" small").click(function(){
                $("#divselectx ul").toggle();
                $(".mask").show();
            });
            $(divselectxid+" ul li a").click(function(){
                var txt = $(this).text();
                $(divselectxid+" small").html(txt);
                var value = $(this).attr("selectidx");
                inputselectx.val(value);
                $(divselectxid+" ul").hide();
                $(".mask").hide();
                $("#divselectx small").css("color","#333")
            });
        };
        $.divselectx("#divselectx","#inputselectx");
    });
</script>
<script type="text/javascript">
    $(function(){
        jQuery.divselecty = function(divselectyid,inputselectyid) {
            var inputselecty = $(inputselectyid);
            $(divselectyid+" small").click(function(){
                $("#divselecty ul").toggle();
                $(".mask").show();
            });
            $(divselectyid+" ul li a").click(function(){
                var txt = $(this).text();
                $(divselectyid+" small").html(txt);
                var value = $(this).attr("selectyid");
                inputselecty.val(value);
                $(divselectyid+" ul").hide();
                $(".mask").hide();
                $("#divselecty small").css("color","#333")
            });
        };
        $.divselecty("#divselecty","#inputselecty");
    });
</script>
<script type="text/javascript">
    $(function(){
        $(".mask").click(function(){
            $(".mask").hide();
            $(".all").hide();
        })
        $(".right input").blur(function () {
            if ($.trim($(this).val()) == '') {
                $(this).addClass("place").html();
            }
            else {
                $(this).removeClass("place");
            }
        })
    });
</script>
<script>
    $("#file0").change(function(){
        var objUrl = getObjectURL(this.files[0]) ;
        obUrl = objUrl;
        console.log("objUrl = "+objUrl) ;
        if (objUrl) {
            $("#img0").attr("src", objUrl).show();
        }
        else{
            $("#img0").hide();
        }
    }) ;
    function qd(){
        var objUrl = getObjectURL(this.files[0]) ;
        obUrl = objUrl;
        console.log("objUrl = "+objUrl) ;
        if (objUrl) {
            $("#img0").attr("src", objUrl).show();
        }
        else{
            $("#img0").hide();
        }
    }
    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
</script>
<script type="text/javascript">
    var subUrl = "";
    $(function (){
        $(".file-3").bind('change',function(){
            subUrl = $(this).val()
            $(".yulan").show();
            $(".file-3").val("");
        });

        $(".file-3").each(function(){
            if($(this).val()==""){
                $(this).parents(".uploader").find(".filename").val("营业执照");
            }
        });
        $(".btn-3").click(function(){
            $("#img-1").attr("src", obUrl);
            $(".yulan").hide();
            $(".file-3").parents(".uploader").find(".filename").val(subUrl);
        });
        $(".btn-2").click(function(){
            $(".yulan").hide();
        });
    });
</script>
<script type="text/javascript">
    function setImagePreview() {
        var preview, img_txt, localImag, file_head = document.getElementById("file_head"),
                picture = file_head.value||false;
        if (!picture.match(/.jpg|.gif|.png|.bmp/i)) return alert("您上传的图片格式不正确，请重新选择！"),
                !1;
        if (preview = document.getElementById("preview"), file_head.files && file_head.files[0]) preview.style.display = "block",
                preview.style.width = "100px",
                preview.style.height = "100px",
                preview.src = window.navigator.userAgent.indexOf("Chrome") >= 1 || window.navigator.userAgent.indexOf("Safari") >= 1 ? window.webkitURL.createObjectURL(file_head.files[0]) : window.URL.createObjectURL(file_head.files[0]);
        else {
            file_head.select(),
                    file_head.blur(),
                    img_txt = document.selection.createRange().text,
                    localImag = document.getElementById("localImag"),
                    localImag.style.width = "100px",
                    localImag.style.height = "100px";
            try {
                localImag.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)",
                        localImag.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = img_txt
            } catch(f) {
                return alert("您上传的图片格式不正确，请重新选择！"),
                        !1
            }
            preview.style.display = "none",
                    document.selection.empty()
        }
        return document.getElementById("DivUp").style.display = "block",
                !0
    }
</script>
<script src="/hotel/js/lib/compress.js"></script>
<script src="/hotel/js/account/imgUpload/imgUpload.js"></script>
</body>
</html>