#foreach($order in $hotelOrders)
	<div class="myorderItem">
		<div class="order-hoteldesc">
			<div class="order-hoteltitle clearfix">
				<h5 class="order-hotelname fl">$!order.hotel.name</h5>
				<span class="#if($order.state==0) state-running #else state-completed #end  fr">$!order.stateDesc</span>
			</div>
			<div class="order-hoteladd">$!order.hotel.address</div>
		</div>
		<div class="order-hoteldesc">
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">入住时间</span>
				<span class="order-startday">$date.format('yyyy-MM-dd',$!order.startTime)</span>
			</div>
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">离店时间</span>
				<span class="order-endday fl">$date.format('yyyy-MM-dd',$!order.endTime)</span>
				<span class="order-livedays fl"> 共<i class="order-roomnum">$!order.houseNum</i>间<iclass="order-days">$!days</i>晚</span>
			</div>
		</div>
		<div class="order-hoteldesc">
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">住客姓名</span>
				<span class="order-startday">$!order.contact</span>
			</div>
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">总房费</span>
				<span class="order-totalcost fl">¥$!order.amount</span>
			</div>
		</div>
		
		<div class="order-hoteldesc">
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">订单编号</span>
				<span class="order-ordernum fl">$!order.uid</span>
			</div>
			<div class="order-hoteltitle clearfix">
				<span class="order-infoname fl">时间</span>
				<span class="order-ordertime fl">$date.format('yyyy-MM-dd hh:mm:ss',$!order.endTime)</span>
			</div>
		</div>
	</div>
	#end