#parse("include/header.vm")
<body class="luckybody">
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">红包</span>
    </div>
	<div class="fake"></div>
	<div class="openlucky">
		<p class="presentPeo">您的好友送了您一份嘀嘀客栈红包</p>
		<p>赶紧拆开看看吧！</p>
		<div class="tryopen">
			<div class="openit"></div>
			<p class="inputtel"><input type="tel" placeholder="手机号码" /></p>
		</div>
	</div>
#parse("include/footer_js.vm")
</body>

</html>