#parse("include/header.vm")
<body class="luckybody">
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">红包</span>
    </div>
	<div class="fake"></div>
	<div class="openlucky">
		<p class="presentPeo">您收到了<span>孙朝阳</span>送您的<span>30</span>元嘀嘀客栈红包</p>
		<p>关注嘀嘀客栈微信公共号预定酒店即可使用</p>
		<div class="opened">
			<div class="openednum">¥30</div>
		</div>
	</div>
#parse("include/footer_js.vm")
</body>

</html>