#parse("include/constants.vm")
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>嘀嘀客栈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link type="text/css" href="$ctx/css/sm.min.css?v=${jsVersion}" rel="stylesheet" />
	<link type="text/css" href="$ctx/css/common.css?v=${jsVersion}" rel="stylesheet" />
    <link type="text/css" href="$ctx/css/global.css?v=${jsVersion}" rel="stylesheet" />
    
    #if($linkSwiper&&$linkSwiper==true)
    <link type="text/css" href="$ctx/css/swiper.min.css?v=${jsVersion}" rel="stylesheet" />
    #end
</head>
<body>