<div class="mask" id="js_mask"></div>
<div class="veritify_mobile_mask_bg" id="authcode_layer">
	<div class="inpAuthcode">请输入验证码</div>
	<div class="verifybox clearfix">
		<p class="clearfix">
  			<input type="text" id="authcode"  maxlength="16" autocomplete="off" class="authcodeInpbox" />
  			<span class="veriCode"><img src="" alt="验证码" id="jcaptchaPic"/></span>
  		</p>
           <p class="vertify_letter"><input type="button" value="确定" id="vertify_letter" /></p>
	</div>
	<div class="close_mask">×</div>
</div>