#set($ScriptVerify=true)
#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">注册</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="queryCondition regbox">
		<form id = "regForm">
			<div class="regItem clearfix">
				<span class="regItemName">用户名</span>
				<div class="name-tipbox fl">
					<input type="text" name="p_nickname" id="p_nickname"/>
					<div class="input-writetip">4-18个字符，可由中文、英文、数字及下划线组成，一个汉字为两个字符</div>
				</div>
			</div>
			<div class="regItem passItem clearfix">
				<span class="regItemName">密码</span>
				<div class="name-tipbox fl">
					<input type="password"  name="p_pass" id="p_pass"/>
					<div class="input-writetip">密码长度为4-16字符，建议使用字母数字和符号组合</div>
				</div>
				<div class="pass-str clearfix">
			        <span>弱</span>
			        <span>中</span>
			        <span>强</span>
		       </div>
			</div>
			<div class="regItem clearfix">
				<span class="regItemName">确认密码</span>
				<input type="password"  name="p_confirm_pass" id="p_confirm_pass" placeholder="请再次输入密码"/>
			</div>
			<div class="regItem clearfix">
				<span class="regItemName">手机号码</span>
				<input type="tel" name="phone" maxlength="11" id="phone" placeholder="请输入手机号"/>
			</div>
			<div class="regItem loginverifybox clearfix">
				<span class="regItemName">验证码</span>
				<input type="text" name="jcaptchaCode" id="jcaptchaCode" />
				<span class="loginveriCode"><img src="$ctx/jcaptcha/logon" alt="验证码" id="jcaptchaPic"/></span>
			</div>
			<div class="regItem getbox clearfix">
				<span class="regItemName">短信验证码</span>
				<input type="text" name="smsVerifycode" id="smsVerifycode"/>
				<a href="javascript:;" class="getCode" id="getCode">获取短信验证码</a>
				<span class="toGray"><var></var>秒后可重新发送</span>
			</div>
			</form>
			<div class="myradio oncheck agreedeal clearfix"><i></i>我已阅读并同意<a href="$ctx/logon/regProtocol">《嘀嘀客栈注册及服务协议》</a></div>
			<p class="clearfix"><a href="javascript:;" class="searchNow" id="register">注册</a><p>
			<p class="hasaccount">已有账号？<a href="$ctx/logon">登录</a></p>
		</div>
	</div>
#parse("include/footer_js.vm")
	<script src="$ctx/js/logon/register.js?v=${jsVersion}"></script>
</body>
<script>
</script>
</html>