#set($ScriptVerify=true)
#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">设置新密码</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="queryCondition regbox">
			<div class="regItem passItem clearfix">
				<span class="regItemName">输入新密码</span>
				<div class="name-tipbox fl">
					<input type="password" id="p_pass" />
					<div class="input-writetip">密码长度为4-16字符，建议使用字母数字和符号组合</div>
				</div>
				<div class="pass-str clearfix">
			        <span>弱</span>
			        <span>中</span>
			        <span>强</span>
		       </div>
			</div>
			<div class="regItem clearfix">
				<span class="regItemName">确认新密码</span>
				<input type="password" placeholder="请再次输入新密码" id="confirmPsw" />
			</div>
			<p class="clearfix"><a href="javascript:;" class="searchNow submitForPsw" id="submitReset">提交</a></p>
		</div>
	</div>
#parse("include/footer_js.vm")
<script src="$ctx/js/logon/register.js?v=${jsVersion}"></script>
</body>

</html>