#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">密码重置成功</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="resetsuccess">
			<img src="$ctx/img/resetSuc.png" class="ok" />
			<p class="suctip">密码已重置成功，<i>5s</i>后自动返回</p>
		</div>
	</div>
#parse("include/footer_js.vm")
<script>
	var openid = "$openid";
	var duration=5;
	var timer=setInterval(function(){
		duration--;
		$(".suctip i").html(duration+"s");
		if(duration<=1){
			clearInterval(timer);
			window.location.href = ctx+'/account/accountInfo?openid='+openid;
		}
	},1000);
</script>
</body>

</html>