#set($ScriptSmCity=true)
#parse("/hotel/layout/include/header.vm")
    <div class="statebox clearfix"> 
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">发票信息</span>
		<a href="/hotel/wx/v1/company/modifyInvoice" class="completeFill fr" id="completeFill">完成</a>
    </div>
	<div class="fake"></div>
	<div class="invoiceInfo">
		<input type="hidden" name="openid" value="$!openid" />
		<input type="hidden" name="contact" value="$invoice.contact" />
		<input type="hidden" name="invoiceId" value="$!invoice.id" />
		<input type="hidden" name="addInvoiceToken" value="$!addInvoiceToken" />
        <div class="new-main fillTime clearfix">
            发票注明酒店名和入离时间
            <label class="label-switch fr">
                <input type="checkbox">
                <div class="checkbox"></div>
            </label>
        </div>
        <div class="billItem clearfix">
            <span class="billInfoName">发票抬头</span>
            <div class="billDetail inpInfo fl">
                <input type="text" placeholder="请输入发票抬头" name="head" value="$!invoice.header" class="inpInfo" id="billTitle" />
                <em id="selectBillTitle" class="gotoselect"></em>
            </div>
        </div>
		<div class="billItem clearfix">
			<span class="billInfoName">发票明细</span>
			<div class="billDetail inpInfo fl">
				<input type="text" value="$!invoice.detail" id="billDetail" />
                <em id="selectBillTitle" class="gotoselect"></em>
			</div>
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">收件信息</span>
			<input type="text" placeholder="姓名" class="inpInfo" name="recipient" value="$!invoice.recipient" id="recipient" />
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">联系方式</span>
			<input type="tel" placeholder="手机号码" class="inpInfo" name="mobile" value="$!invoice.mobile" id="phone" />
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">所在地区</span>
            <div class="billDetail inpInfo fl">
				<input type="text" class="inpInfo" placeholder="请选择省市区" name="detailAddress" value="$!invoice.detailAddress" id='city-picker'/>
				<em id="selectBillTitle" class="gotoselect"></em>
			</div>
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">详细地址</span>
			<input type="text" class="detailAdd" placeholder="请输入详细地址" name="address" value="$!invoice.address" id="detailAdd" />
		</div>
	</div>
#parse("/hotel/layout/include/footer_js.vm")
	<script src="$ctx/hotel/js/account/accountInfo/invoice/invoiceInfoForAddOrUpdate.js?v=${jsVersion}"></script>
</body>

</html>
