#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">账户信息</span>
    </div>
	<div class="fake"></div>
	<ul class="accountInfoList">
		<li class="clearfix">
			<i class="modiphone-icon"></i>
			<input type="hidden" id="modiBindPhoneToken" value="$!modiBindPhoneToken"/>
			<input type="hidden" id="bindPhoneToken" value="$!bindPhoneToken"/>
			<span class="modiname">绑定手机</span>
			#if($mobile)
			<span class="bindphone">$!mobile</span>			
			<a href="$ctx/account/modiPhonePage?openid=${openid}&modiBindPhoneToken=$!modiBindPhoneToken" class="modiInfo fr">修改</a>
			#else
			<span class="bindphone_tip">请及时绑定</span>
			<a href="$ctx/account/modiPhonePage?openid=${openid}&bindPhoneToken=$!bindPhoneToken" class="modiInfo fr">绑定</a>
			#end			
		</li>
<!-- 		<li class="clearfix"> -->
<!-- 			<i class="modipsw-icon"></i> -->
<!-- 			<span class="modiname">登录密码</span> -->
<!-- 			<input type="hidden" id="modiPswToken" value="$!modiPswToken"/> -->
<!-- 			<a href="$ctx/account/modiPswPage?openid=${openid}&modiPswToken=$!modiPswToken" class="modiInfo fr">修改</a> -->
<!-- 		</li> -->
		<li class="clearfix">
			<i class="modipeople-icon"></i>
			<span class="modiname">常用住客</span>
			<a href="$ctx/account/lodgerList?openid=${openid}" class="modiInfo fr">修改</a>
		</li>
		<li class="clearfix">
			<i class="modiadd-icon"></i>
			<span class="modiname">发票地址</span>
			<a href="$ctx/account/InvoiceList?openid=${openid}" class="modiInfo fr">修改</a>
		</li>
	</ul>
#parse("include/footer_js.vm")
<script type="text/javascript">
	var ctx = "$ctx";
	/*修改信息首页的手机星号*/
	var phonefour = $('.bindphone').html();
	if(phonefour){
		$('.bindphone').html(phonefour.substring(0,3)+'****'+phonefour.substring(7,11));
	}
</script>
</body>

</html>
