#parse("include/header.vm")
	<input type="hidden" name="openid" id="openid" value="$openid" />
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">修改绑定手机</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="queryCondition regbox">
			<div class="bindItem phoneItem clearfix" >
				<input type="tel" id="oldPhoneNum" data-value="$!mobile" maxlength="11" placeholder="请输入原手机号" value="$!mobile"/>
				<input type="hidden" name="oldMobile" id="oldMobile" value="$!oldMobile" />
				<input type="hidden" id="modiBindPhoneToken" value="$!modiBindPhoneToken"/>
			</div>
			<div class="bindItem phoneItem getbox clearfix">
				<input type="text" id="oldMessageCode" placeholder="请输入短信验证码" />
				<a href="javascript:;" class="getCode" id="getOldCode">获取短信验证码</a>
				<span class="toGray"><var></var>秒后可重新发送</span>
				<div class="verify-error">验证码输入错误</div>
			</div>
			<div class="bindItem phoneItem clearfix">
				<input type="tel" id="newPhoneNum" maxlength="11" placeholder="请输入新手机号" />
			</div>
			<div class="bindItem phoneItem getbox clearfix">
				<input type="text" id="newMessageCode" placeholder="请输入短信验证码" />
				<a href="javascript:;" class="getCode" id="getNewCode">获取短信验证码</a>
				<span class="toGray"><var></var>秒后可重新发送</span>
				<div class="verify-error">验证码输入错误</div>
			</div>
			<p class="clearfix"><a href="javascript:;" class="searchNow submitForPsw" id="sureChange">提交</a></p>
		</div>
	</div>	
	<!--vertify mobile mask start-->
	#parse("include/verifyCode.vm")
	<!--vertify mobile mask end-->
#parse("include/footer_js.vm")
 <script src="$ctx/js/account/accountInfo/bindPhone/modiBindPhone.js?v=${jsVersion}"></script> 
</body>

</html>