#set($linkSwiper=true)
#set($ScriptSwiper=true)
#parse("include/header.vm")
    <div class="statebox clearfix"> 
        <a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">酒店详情</span>
    </div>
	<div class="fake"></div>
	<div class="main-content hotelDesc clearfix">
		<div class="hotelInfo">
			<input type="hidden" name="hotel.id" value="$!tchotelInfo.id" />
			<h4 class="hotelName">$!tchotelInfo.name</h4>
			<div>
				<p>$!tchotelInfo.className</p>
			</div>
			<div class="hotelAddress">$!tchotelInfo.sectionName $!tchotelInfo.bsectionName $!tchotelInfo.address</div>
		</div>
		<div class="hotelimg">
			#if($hotelPic)
			<img src="$hotelPic" />
			#end
			#if(!$hotelPic)
			<img src="$ctx/img/hotelimg.jpg" />
			#end
		</div>
	</div>
	<div class="roomlist" >
		<input type="hidden" name="openid" value="$openid" />
		<input type="hidden" name="recomondHotel" value="$recomondHotel.id" />
    	<table class="roomtable">
    		<tbody>
    			#foreach($house in $!recomondHouseTypes)
    			<tr #if($velocityCount == $!recomondHouseTypes.size()) class="lasttr"  #end>
    				<td width="12.22%" class="roomimg">
    					#if($tchouseInfos[$math.sub($velocityCount,1)].tchousePics.size() > 0)
    					<img src="$tchouseInfos[$math.sub($velocityCount,1)].tchousePics[0].path" />
    					#end
    					
    				</td>
    				<td width="34.00%" class="roomrate">
    					<p>$!house.name</p>
    					<p class="addition">
    					#if($house.breakfast == 2)双早#end
    					#if($house.breakfast == 1)单早#end
    					#if($house.breakfast == 0)无早#end/
    					#if($house.wifi == 1)免费
						#elseif($house.wifi == 2)收费 
						#elseif($house.wifi == 3)有线免费
						#elseif($house.wifi == 4)有线收费
						#elseif($house.wifi == 5)无线免费
						#else无线免费#end
    					</p>
    				</td>
    				<td width="26.33%" class="hotelcost" data-house-id="$house.id">¥$!house.price</td>
    				<td width="27.81%" class="neednum">
    					<a href="javascript:;" class="subbtn">-</a>
    					<span class="roomnum">0</span>
    					<a href="javascript:;"  class="addbtn">+</a>
    				</td>
    			</tr>
    			#end
    			
    		</tbody>
    	</table>
	</div>
	<div class="main-content reserveroom">
		<p class="roomtip"><span>*</span>&nbsp;房型价格（房型均为特价房，均不可取消、不可修改）</p>
		#if($recomondHotel.remark != '#')
		<p class="roomtip"><span>*</span>&nbsp;$!recomondHotel.remark</p>
		#end
		<div class="reservebtn clearfix"><a href="javascript:;">预定</a></div>
	</div>
	<h5 class="hotelIntro">酒店介绍</h5>
	<div class="introBox main-content">
		<p>$!tchotelInfo.totalIntro</p>
	</div>
	<h5 class="hotelIntro">酒店实景</h5>
	<ul class="photobox clearfix">
	    #foreach($pic in $tchotelPics)
        <li><img src="$pic.path" alt="$pic.title" /></li>
    	#end
	</ul>
	<div class="mark" id="photo_mark"></div>
	<div class="showbox swiper-container">
	    <ul class="showphotobox swiper-wrapper clearfix">
	    #foreach($pic in $tchotelPics)
	        <li class="swiper-slide"><img src="$pic.path" alt="$pic.title" /></li>
	    #end
	    </ul>
	    <div class="swiper-pagination"></div>
	</div>		
#parse("include/footer_js.vm")
<script src="$ctx/js/reserve/hotelInfo.js?v=${jsVersion}"></script>

</body>

</html>
