#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">住客信息</span>
		<a href="javascript:;" class="completeFill fr" id="completeFill">保存</a>
    </div>
	<div class="fake"></div>
	<div class="lodgerInfo">
		<input type="hidden" id="loger_id" name="id" value="$!lodger.id" />
		<input type="hidden" name="openid" value="$!openid" />
		<input type="hidden" id="mid" name="member.id" value="$!lodger.member.id" />
		<input type="hidden" id="addLodgerToken" value="$!addLodgerToken">
		<div class="bindItem lodgerItem clearfix">
			<span class="regItemName">中文名</span>
			<input type="text" name="lodgerName" value="$!lodger.lodgerName" maxlength="30" id="lodgerName" placeholder="必填" />
		</div>
		<div class="bindItem lodgerItem clearfix">
			<span class="regItemName">英文姓</span>
			<input type="text" name="lastName" value="$!lodger.lastName" maxlength="20" id="lastName" placeholder="选填" />
		</div>
		<div class="bindItem lodgerItem clearfix">
			<span class="regItemName">英文名</span>

			<input type="text" name="firstName" value="$!lodger.firstName" maxlength="20" id="firstName" placeholder="选填"/>
		</div>
		<div class="bindItem lodgerItem clearfix">
			<span class="regItemName">身份证</span>
			<input type="text" name="idCard" value="$!lodger.idCard"  maxlength="20" id="idCard" placeholder="选填"/>
		</div>
	</div>
#parse("include/footer_js.vm")
<script src="$ctx/js/account/accountInfo/lodger/lodgerInfo.js?v=${jsVersion}"></script>
</body>

</html>