#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">个人中心</span>
    </div>
	<div class="fake"></div>
	<ul class="accountList">
		<li>
			<p class="accountItemImg"><a href="$ctx/account/accountInfo?openid=${openid}"><img src="$ctx/img/accountInfo.png" /></a></p>
			<p class="accountItemDesc">账户信息</p>
		</li>
		<li>
			<p class="accountItemImg"><a href="$ctx/hotelOrder/index?openid=${openid}"><img src="$ctx/img/myOrder.png" /></a></p>
			<p class="accountItemDesc">我的订单</p>
		</li>
<!-- 		<li> -->
<!-- 			<p class="accountItemImg"><a href="$ctx/account/voucher?openid=${openid}" ><img src="$ctx/img/voucher.png" /></a></p> -->
<!-- 			<p class="accountItemDesc">代金券</p> -->
<!-- 		</li> -->
	</ul>
<script type="text/javascript">
	var ctx = "$ctx";
</script>
</body>

</html>
