#parse("include/header.vm")
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">填写订单</span>
    </div>
	<div class="fake"></div>
	<div class="main-content timeInfo">
		<h4>$!tchotelInfo.name</h4>
		
		<div class="resttime clearfix">
			入住: &nbsp;<i class="startday" data-start=$!date.format('YYYY-MM-dd',$occupancyInfo.startTime)>$!date.format('MM-dd',$occupancyInfo.startTime)</i>
			<span>|</span>
			
			离店: &nbsp;<i class="endday" data-end=$!date.format('YYYY-MM-dd',$occupancyInfo.endTime)>$!date.format('MM-dd',$occupancyInfo.endTime)</i>
			<span>|</span>
			共<i class="totalday">$!days</i>晚
<!-- 			<a href="javascript:;" class="modifyBtn open-popup" data-popup=".modipopup">修改</a> -->
		</div>
	</div>
	<div class="popup modipopup">
      <div class="content-block popupbox">
        <div class="startbox clearfix">
			<div class="livein fl">
    			<input type="text" id="liveinday" readonly />
    			<span class="liveintip">(周<i>三</i>)入住<em></em></span>
			</div>
			<div class="modistart fr">
				<span class="prevday">前一天</span>
				<span class="nextday">后一天</span>
			</div>
		</div>
        <div class="startbox endbox clearfix">
			<div class="livein leaveoff fl">
    			<span class="totallive fl">住<em>1</em>晚</span>
    			<span class="leavedate fr"><em>2016-04-13</em>(周<i>三</i>)离店</span>
			</div>
			<div class="modistart modidays fr">
				<span class="subdays fl">-</span>
				<span class="adddays fl">+</span>
			</div>
		</div>
		<p class="confirmmodi"><a href="javascript:;">确定</a></p>
      </div>
	</div>
	<div class="orderInfo">
		<div class="orderItem clearfix">
			<span class="itemName fl">总房费</span>
			<i class="roomcost">¥$!hotelOrder.roomRate</i>
		</div>
		<div class="nameinpbox clearfix">
			<span class="itemName lodger fl">入住人</span>
			<div class="nameinput fr">
			#foreach($i in [1..$mans] )
 				<p #if($velocityCount == $mans) class="noborderbottom"  #end><input type="text" name="contact" readonly placeholder="姓名，每间只需填写1人"/></p>
			#end
				<i class="gofill"></i>
			</div>
		</div>
		<div class="orderItem clearfix">
			<span class="itemName fl">联系方式</span>
			<input type="tel" name="mobile" maxlength="11" id="mobile" placeholder="用于接收确认短信"/>
		</div>
		<div class="invoice clearfix">
			<span class="itemName fl">发票信息</span>
			<span class="myradio" id="needbill"><i></i>需要发票</span>
			<a href="javascript:;" class="addBillInfo">添加发票信息</a>
			<div class="invoiceshow">
    			<div class="invoicelist">
    				
    			</div>
    			<p class="express">快递 EMS ¥<span>$!hotelOrder.freight</span>元</p>
			</div>
		</div>
		<!-- <div class="invoice clearfix">
			<span class="itemName fl">红包信息</span>
			<div class="luckymoney fr">
				<i></i>
				<span>使用红包</span>
				<span class="selectedmoney">已选<em>30</em>元红包</span>
				<span class="selectredpac"></span>
			</div>
		</div> -->
		<div class="main-content costdetail"> 
			<p class="costItem clearfix">
				<span class="costname">总房费</span>
				<span class="thecost roomrate">¥<i>$!hotelOrder.roomRate</i></span>
			</p>
		
			<p class="costItem freight clearfix">
				<span class="costname">运费</span>
				<span class="thecost">¥<i>$!hotelOrder.freight</i></span>
			</p>
		</div>
		<div class="main-content ordertip ">
			<p>提示：</p>
			<p>1）订单支付成功后，我们立即与酒店进行确认，三十分钟内提供预定结果。 </p>
			<p>2）提交订单后，不可取消、不可更改，订房未入住或提早退房者，酒店不予退费</p>
		</div>
	</div>
	<div class="main-content submitOrder clearfix">
		<p class="totalCost fl">总额：<span>¥$!hotelOrder.roomRate</span></p>
		<a href="javascript:;" class="suOrderBtn fr">提交订单</a>
	</div>
	<input type="hidden" name="openid" value="$openid" />
<script type="text/javascript">
var ctx = "$ctx";
var header = "$!header";
var invoiceId = "$!invoiceId";
var room_rate = "$!hotelOrder.roomRate";
var hotel_id = "$!tchotelInfo.id";
</script>	
	#parse("include/footer_js.vm")
	<script src="$ctx/js/order/fillOrder.js?v=${jsVersion}"></script>
</body>

</html>
