#parse("/hotel/layout/include/header.vm")
<div class="statebox clearfix">
    <a href="javascript:;" class="lastStep"><i></i></a>
    <span class="thetittle">选择入住人</span>
    <a href="javascript:;" class="completeFill fr" id="completeFill">完成</a>
</div>
<div class="fake"></div>
<input type="hidden" name="openid" id="openid" value="$!openid" />
<ul class="accountInfoList"></ul>
<p class="addlodger clearfix">
    <a href="$!ctx/hotel/wx/v1/user/addNewContactPage?openid=$!openid"  class="searchNow" id="submitForPsw"><i>+</i>新增住客信息</a>
</p>
#parse("/hotel/layout/include/footer_js.vm")
<script src="$!ctx/hotel/js/account/selectLodger/index.js?v=${jsVersion}"></script>
</body>

</html>
