#set($ScriptSmCity=true)
#parse("include/header.vm")
    <div class="statebox clearfix"> 
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">发票信息</span>
		<a href="javascript:;" class="completeFill fr" id="completeFill">完成</a>
    </div>
	<div class="fake"></div>
	<div class="invoiceInfo">
		<input type="hidden" name="openid" value="$openid" />
		<input type="hidden" name="contact" value="$contact" />
		<input type="hidden" name="mobile" value="$mobile" />
		
		<div class="billItem clearfix">
			<span class="billInfoName">发票明细</span>
			<div class="billDetail inpInfo fl">
				<input type="text" value="代订房费" id="billDetail" />
				<em id="rightGo"></em>
			</div>
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">发票抬头</span>
			<input type="text" placeholder="请输入发票抬头" class="inpInfo" id="billTitle" />
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">收件信息</span>
			<input type="text" placeholder="姓名" class="inpInfo" id="recipient" />
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">联系方式</span>
			<input type="tel" placeholder="手机号码" class="inpInfo" id="phone" />
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">所在地区</span>
			<input type="text" class="inpInfo" placeholder="请选择省市区" id='city-picker'/>
		</div>
		<div class="billItem clearfix">
			<span class="billInfoName">详细地址</span>
			<input type="text" class="detailAdd" placeholder="请输入详细地址" id="detailAdd" />
		</div>
		<div class="main-content fillTime myradio clearfix">
			发票注明酒店名和入离时间
			<span class="fr"><i></i></span>
		</div>
	</div>
#parse("include/footer_js.vm")
	<script src="$ctx/js/account/accountInfo/invoice/invoiceInfo.js?v=${jsVersion}"></script>
</body>

</html>
