#set($ScriptVerify=true)
#parse("include/header.vm")
	<input type="hidden" id="openid" value="$!openid"/>
	<input type="hidden" id="modiPswToken" value="$!modiPswToken"/>
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">密码修改</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="queryCondition regbox">
			<div class="bindItem pswItem clearfix">
				<span class="bindItemName">输入旧密码</span>
				<input type="password" id="inpOldPsw" maxlength="16" placeholder="请输入旧密码" />
			</div>
			<div class="bindItem pswItem passItem clearfix">
				<span class="bindItemName">输入新密码</span>
				<div class="name-tipbox fl">
					<input type="password" id="inpNewPsw" maxlength="16" />
					<div class="input-writetip">密码长度为4-16字符，建议使用字母数字和符号组合</div>
				</div>
				<div class="pass-str clearfix">
			        <span>弱</span>
			        <span>中</span>
			        <span>强</span>
		       </div>
			</div>
			<div class="bindItem pswItem clearfix">
				<span class="bindItemName">确认新密码</span>
				<input type="password" id="inpNewPswAgain" maxlength="16" placeholder="请再次输入新密码" />
			</div>
			<p class="clearfix">
				<a href="javascript:;" class="searchNow submitForPsw" id="submitForPsw">提交</a>
			</p>
		</div>
	</div>
#parse("include/footer_js.vm")
<script src="$ctx/js/account/accountInfo/loginPsw/modiPsw.js?v=${jsVersion}"></script>
</body>

</html>