#parse("include/header.vm")
	<input type="hidden" id="openid" value="$openid"/>
    <div class="statebox clearfix">
		<a href="javascript:history.back();" class="lastStep"><i></i></a>
		<span class="thetittle">密码修改</span>
    </div>
	<div class="fake"></div>
	<div class="hotelQuery">
		<div class="resetsuccess">
			<img src="$ctx/img/bindphoneSuc.png" class="bindSuc" />
			<p class="suctip">密码修改成功，<i>5s</i>后自动返回</p>
		</div>
	</div>
#parse("include/footer_js.vm")	
<script type="text/javascript">
	var ctx = "$ctx";
	var openid = "$openid";
</script>
<script >
var duration=5;
var timer=setInterval(function(){
	duration--;
	$(".suctip i").html(duration+"s");
	if(duration<=1){
		clearInterval(timer);
		window.location.href = ctx+'/account/accountInfo?openid='+openid;
	}
},1000);
</script>
</body>

</html>
